.banner {
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-container {
    height: 310px;
    width: 95%;
    background-image: url(/public/mercado-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

@media (max-width: 800px) {
    .banner-container {
        background-image: url(/public/mercado-banner.png);
    }
}