.card-list{
    margin-top: 30px;
    overflow-x: scroll;
}

/* Estilos gerais da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
  
/* Cabeçalho da tabela */
thead th {
    background-color: rgba(224, 224, 224, 0.295); /* Cor de fundo do cabeçalho */
    color: black; /* Cor do texto */
    padding: 10px;
    border: 1px solid #ddd;
    overflow: hidden; /* Esconde o conteúdo que excede */
    white-space: nowrap; /* Impede quebra de linha */
    /* text-overflow: ellipsis; Adiciona os "três pontinhos" */
}
  
/* Corpo da tabela */
tbody tr {
    background-color: #ffffff; /* Linhas alternadas */
}
  
tbody tr:hover {
    background-color: #f1f1f191; /* Efeito hover */
}
  
tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    overflow: hidden; /* Esconde o conteúdo que excede */
    white-space: nowrap; /* Impede quebra de linha */
    /* text-overflow: clip; Adiciona os "três pontinhos" */
}

tbody td:nth-child(1) {
    cursor: pointer;
}

tbody td:nth-child(3) {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}

tbody td:nth-child(1):hover {
    background-color: rgba(161, 161, 161, 0.295);
}

tbody td:nth-child(3):hover {
    background-color: rgba(161, 161, 161, 0.295);
}