.Clients {
    height: 980px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.FilterBars {
    height: 300px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 0.5px solid rgba(182, 182, 182, 0.404);
    border-radius: 5px;
    background-color: rgba(231, 231, 231, 0.644);
}

.table {
    height: 650px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    overflow-x: scroll;
    margin: 20px 0;
    padding: 5px 1px;
}

table {
    width: 100%;
    table-layout: auto; /* Define largura fixa para as células */
    border-collapse: collapse; /* Remove os espaços entre as células */
}

th, td {
    padding: 10px 10px;
    text-align: left;
    cursor: pointer;
    height: 50px;
    width: 30%; /* Largura igual para todas as células */
    overflow-x: scroll;
}

th {
    background-color: #f2f2f2; /* Cor de fundo do cabeçalho */
}

/* Estilo para o rodapé da tabela */
tfoot {
    background-color: #f9f9f9;
}

.footer-table {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.pagination {
    height: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.pagination button {
    width: 20%;
    padding: 5px 5px;
    margin: 0 2px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #e0e0e0;
}

.pagination button:disabled {
    cursor: not-allowed;
    background-color: #e9e9e9;
}

@media (max-width: 520px) {
    th, td {
        font-size: 0.6rem;
    }

    .pagination button {
        width: 50%;
        padding: 8px 8px;
    }
}

@media (min-width: 520px) and (max-width: 800px) {
    .pagination button {
        width: 55%;
        padding: 8px 8px;
    }
}

@media (min-width: 801px) and (max-width: 1030px) {
    .pagination button {
        width: 58%;
        padding: 8px 8px;
    }
}