.home {
    height: 1050px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    height: 1048px;
    width: 98%;
    display: flex;
    flex-direction: column;
    border: 2px solid green;
}

/* @media (max-width: 520px) {
}

@media (min-width: 520px) and (max-width: 800px) {
}

@media (min-width: 801px) and (max-width: 1030px) {

} */