* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
  }
  
html, body {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: row;
    height: 930px;
    width: 100%;
}

.block {
    width: 30%;
    height: 928px;
    background-color: rgba(27, 27, 27, 0.781);
}

@media (max-width: 701px) {
    .block {
        width: 25%;
    }
}