* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
  }
  
html, body {
    height: 1050px;
}

.App {
    display: flex;
    flex-direction: row;
    height: 1050px;
    width: 100%;
}